<html lang="en">
<head>
<meta charset="utf-8">
<title>Fleur Blanche</title>

<!-- LINK CSS -->
<link rel="stylesheet" type="text/css" href="/static/cloud/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/cloud/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/cloud/css/index.css" />

</head>

<body>

<header class="main-header">
	<nav class="main-nav child-trans">
		<a class="active" href="#/home">Home</a>
		<a href="#/story">Story</a>
		<a href="#/gallery">Gallery</a>
		<a href="#/blog">Blog</a>
		<a href="#/contact">Contact</a>
	</nav>
</header>

<section class="main-body">
	

</section>

<div class="pa info-widgets">
	<img class="trans signature-img" src="/static/cloud/img/common/signature.png" />
</div>

<div id="dance_ctn" class="dancer-img-ctn">
	<img id="img_dancer" alt="Dancer" src="/static/cloud/img/index/0.jpg">

	<img id="img_dancer_1" alt="Dancer" src="/static/cloud/img/index/1.jpg">

</div>

<audio id="bg_music_ctn" poster="/static/cloud/img/index/poster.jpg" autoplay="true" loop="true" >
    <source src="/static/cloud/audio/Fleur_Blanche.mp3" type="audio/mp3">

    <source src="/static/cloud/audio/Fleur_Blanche.ogg" type="audio/ogg">
</audio>



<script type="text/javascript" src="/static/cloud/lib/jquery-2.0.3.min.js"></script>
<script src="/static/cloud/lib/rainyday.0.1.2.min.js"></script>
<script src="/static/cloud/scripts/common/route.js"></script>
<script src="/static/cloud/scripts/index/main.js"></script>

</body>
</html>