<!DOCTYPE html>
<html lang="ch">
<% include head.ejs %>
<body id="bg_scene">
  <canvas data-depth="0.40" class="canvas layer"></canvas>
  <div class="introduce-wrapper hide">
    <p>@Cloud</p>
    <p>xunuoi@163.com</p>
  </div>
  <% include bg.ejs %>
<!-- ROBERT HTML CONTENT -->
<% include robert.ejs %>
<!-- /ROBERT HTML CONTENT -->
<% include scripts.ejs %>
</body>
</html>